SP_API_LWA_APP_ID=amzn1.application-oa2-client.xxxx
SP_API_LWA_CLIENT_SECRET=xxxx
SP_API_REFRESH_TOKEN=Atzr|xxxx
AMAZON_SELLER_ID=xxxx
AMAZON_MARKETPLACE_ID=ATVPDKIKX0DER
FIRECRAWL_API_KEY=fc-xxxx
EXA_API_KEY=xxxx
